body {
    background: white;
}
h1 {
    text-align: center;
    color: blue;
}
img {
    width: 70%;
    margin: 20px auto;
    display: block;
    border-radius: 20px;
    }
.contact-btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    color: black;
}
